<header>
    <div class="header-area ">
        <div class="header-top_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-md-12 col-lg-8">
                        <div class="short_contact_list">
                            <ul>
                                <li><a routerLink="/register"> <i class="fa fa-phone"></i> Register</a></li>
                                <li><a  routerLink="/login"> <i class="fa fa-envelope"></i>Login</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-lg-4">
                        <div class="social_media_links d-none d-lg-block">
                            <a routerLink="/cart">
                                <img src="assets/img/basket2.png" alt="">
                            </a>
                            <a href="#">
                                <i class="fa fa-facebook"></i>facebook
                            </a>
                            <a href="#">
                                <i class="fa fa-pinterest-p"></i>pinterest
                            </a>
                            <a href="#">
                                <i class="fa fa-linkedin"></i>linkedin
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter"></i>twitter
                            </a>
                           <!-- <a href="/cart">
                                <img src="assets/img/basket1.png" alt="">
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3">
                        <div class="logo">
                            <a href="/home">
                                <img src="assets/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        <div class="main-menu">
                            <nav>
                                <ul id="navigation">
                                    <li><a routerLink="/home">home</a></li>
                                    <li><a routerLink="/event">Events</a></li>
                                    <li><a routerLink="/volunteer">Our Volunteer</a></li>
                                    <li><a routerLink="/avtivities">Latest Avtivities</a></li>
                                    <li><a routerLink="/contact">Contact</a></li>
                                </ul>
                            </nav>
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                    <a data-scroll-nav='1' routerLink="/donate">Make a Donate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </header>
  <!-- header-end -->
  
  
   