<!-- our_volunteer_area_start  -->
<div class="our_volunteer_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span>Our Childrens</span></h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
        
            <div class="col-lg-4 col-md-6">
                <div class="single_volenteer">
                    <a routerLink="/donate" data-scroll-nav='1' class="boxed-btn4">Donate Now</a>
                    <br/>
                    <div class="volenteer_thumb" id="test">
                        <img src="assets/img/volenteer/2.png" alt="">
                    </div>
                    
                    <div class="voolenteer_info d-flex align-items-end" >
                        <div class="social_links">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-pinterest"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                                </li>
                            </ul>
                        </div>
                        <br/>
                        <div class="info_inner">
                            <h4>karim tazi</h4>
                            <p>Age,Adress</p>
                        </div>
                      <!--div class="row">
                          <div class="col-6">
                            <div class="donate_now_btn text-center">
                                <a href="#" class="boxed-btn4">Sponsor Me</a>
                            </div>
                        </div>

                         </div>-->
                    
                    </div>
                </div>
            </div>





        </div>
    </div>
</div>

<!-- our_volunteer_area_end  -->